# Local files
local.*
local.*/
.local.*
.local.*/

# Dependencies
node_modules/
.pnpm-store

# Build output
dist
*.tsbuildinfo
*.tgz

# Tests
coverage
*.lcov

# Logs and reports
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Environment
.env
.env.*
!.env.example

# Caches
.cache
.vite/
.eslintcache
vite.config.*.timestamp-*
